@page "/Purchase/Index"


<PageTitle>Purchases</PageTitle>

<h1>Purchases</h1>

<a href="Purchase/Details" class="btn btn-primary">Retrieve Purchase</a>
<a href="Purchase/Create" class="btn btn-primary">New Purchase</a>